// ============= PALETTE ==============
$darkGrayishBlue: hsl(237, 12%, 33%);
$darkDesaturatedBlue: hsl(238, 29%, 16%);
$grayishBlue: hsl(240, 6%, 50%);
$softRed: hsl(14, 88%, 65%);
// ====================================

@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:300,regular,700);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

main {
  display: grid;
  place-items: center;
  font-family: 'Kumbh Sans', sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(101, 101, 231);
  background: -moz-linear-gradient(
    0deg,
    rgba(101, 101, 231, 1) 0%,
    rgba(175, 103, 233, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(101, 101, 231, 1) 0%,
    rgba(175, 103, 233, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(101, 101, 231, 1) 0%,
    rgba(175, 103, 233, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6565e7",endColorstr="#af67e9",GradientType=1);
}

// ======================================
// ============= MAIN CARD ==============
// ======================================
.card {
  display: flex;
  background-color: white;
  width: clamp(300px, 80%, 70em);
  border-radius: 1.6em;
}

// =======================================
// =============== FAQ SIDE ==============
// =======================================
.card__questions {
  flex: 1;
  padding: 2em;
  h1 {
    color: $darkDesaturatedBlue;
    margin: 0.5em 0;
  }
}

.question-tab {
  max-height: 4em;
  transition: max-height 300ms;
  border-bottom-width: 2px;
  border-bottom-color: hsla(0, 0%, 50%, 0.1);
  border-bottom-style: solid;
  overflow: hidden;
  p {
    font-weight: 400;
    color: $grayishBlue;
    margin: 1em 0;
    max-width: 35ch;
    opacity: 0;
    transition: opacity 200ms;
  }
}

.last-tab {
  border: none !important;
}

.opened {
  max-height: 10em !important;
  .question {
    h3 {
      font-weight: bold;
    }
    svg {
      top: 3em;
      transform: rotate(-180deg);
      transition: transform 350ms ease, top 350ms ease;
    }
  }
  p {
    opacity: 1;
    transition: opacity 200ms;
  }
}

.question {
  margin: 1em 0;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin: 1.5em 0;
  h3 {
    font-size: clamp(1rem, 1.8vw, 1.2rem);
    color: $darkGrayishBlue;
    font-weight: 500;
  }
  &:hover {
    cursor: pointer;
  }
}

// =====================================
// ========= ILLUSTRATION SIDE =========
// =====================================
.card__illustration {
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
}

// ==========================================================================
// ==========================================================================
// =========== MEDIA QUERIES ================================================
@media only screen and (max-width: 1080px) {
  html {
    font-size: 14px;
  }

  // ============= MAIN CARD ==============
  .card {
    margin: 26vw 0 0 0;
    width: clamp(300px, 80%, 40em);
    top: 30px;
    flex-direction: column;
    padding: 0;
  }

  // =============== FAQ SIDE ==============
  .card__questions {
    margin: 0 auto;
    width: clamp(280px, 80%, 400px);
    padding: 0 1em 1em 1em;
    h1 {
      text-align: center;
      margin: 0.3em;
    }
  }

  .question-tab {
    max-height: 4em;
    p {
      line-height: 1.5;
      font-size: clamp(0.8rem, 2.5vw, 1rem);
      max-width: 50ch;
      text-align: center;
      margin: 0 auto 1em 1vw;
      width: 90%;
    }
  }

  .question {
    margin: 0;
    h3 {
      margin: 1em 0;
      line-height: 1.5rem;
      width: 100%;
      text-align: center;
    }
  }

  .opened {
    svg {
      top: 3.5em !important;
    }
  }
  // ========= ILLUSTRATION SIDE =========
  .card__illustration {
    max-height: 12vh;
  }
}

@import './partials/illustrations.scss';
