@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:300,regular,700);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

main {
  display: grid;
  place-items: center;
  font-family: "Kumbh Sans", sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #6565e7;
  background: -moz-linear-gradient(0deg, #6565e7 0%, #af67e9 100%);
  background: -webkit-linear-gradient(0deg, #6565e7 0%, #af67e9 100%);
  background: linear-gradient(0deg, #6565e7 0%, #af67e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6565e7",endColorstr="#af67e9",GradientType=1);
}

.card {
  display: flex;
  background-color: white;
  width: clamp(300px, 80%, 70em);
  border-radius: 1.6em;
}

.card__questions {
  flex: 1;
  padding: 2em;
}
.card__questions h1 {
  color: #1d1e35;
  margin: 0.5em 0;
}

.question-tab {
  max-height: 4em;
  transition: max-height 300ms;
  border-bottom-width: 2px;
  border-bottom-color: rgba(128, 128, 128, 0.1);
  border-bottom-style: solid;
  overflow: hidden;
}
.question-tab p {
  font-weight: 400;
  color: #787887;
  margin: 1em 0;
  max-width: 35ch;
  opacity: 0;
  transition: opacity 200ms;
}

.last-tab {
  border: none !important;
}

.opened {
  max-height: 10em !important;
}
.opened .question h3 {
  font-weight: bold;
}
.opened .question svg {
  top: 3em;
  transform: rotate(-180deg);
  transition: transform 350ms ease, top 350ms ease;
}
.opened p {
  opacity: 1;
  transition: opacity 200ms;
}

.question {
  margin: 1em 0;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question h3 {
  font-size: clamp(1rem, 1.8vw, 1.2rem);
  color: #4a4b5e;
  font-weight: 500;
}
.question:hover {
  cursor: pointer;
}

.card__illustration {
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
}

@media only screen and (max-width: 1080px) {
  html {
    font-size: 14px;
  }

  .card {
    margin: 26vw 0 0 0;
    width: clamp(300px, 80%, 40em);
    top: 30px;
    flex-direction: column;
    padding: 0;
  }

  .card__questions {
    margin: 0 auto;
    width: clamp(280px, 80%, 400px);
    padding: 0 1em 1em 1em;
  }
  .card__questions h1 {
    text-align: center;
    margin: 0.3em;
  }

  .question-tab {
    max-height: 4em;
  }
  .question-tab p {
    line-height: 1.5;
    font-size: clamp(0.8rem, 2.5vw, 1rem);
    max-width: 50ch;
    text-align: center;
    margin: 0 auto 1em 1vw;
    width: 90%;
  }

  .question {
    margin: 0;
  }
  .question h3 {
    margin: 1em 0;
    line-height: 1.5rem;
    width: 100%;
    text-align: center;
  }

  .opened svg {
    top: 3.5em !important;
  }

  .card__illustration {
    max-height: 12vh;
  }
}
.cutout-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.icon {
  position: relative;
  width: 20px;
  height: 20px;
  transition: transform 350ms ease, top 350ms ease;
  margin-left: 0.5em;
  top: 0;
}

.box {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 40%;
  left: -100px;
  z-index: 2;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
  animation: floating 2500ms infinite;
}

@keyframes floating {
  0% {
    top: 40%;
  }
  50% {
    top: 42%;
  }
  100% {
    top: 40%;
  }
}
.bg {
  position: absolute;
  width: 800px;
  height: 800px;
  transform: translate(0, -50%);
  top: 45%;
  left: -400px;
}

.woman {
  position: absolute;
  width: 500px;
  height: 500px;
  transform: translate(0, -50%);
  top: 50%;
  left: -100px;
  z-index: 1;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1080px) {
  .icon {
    width: 15px;
    height: 15px;
  }

  .cutout-box {
    overflow: visible;
    pointer-events: none;
  }

  .woman {
    position: absolute;
    width: clamp(25px, 60vw, 250px);
    height: clamp(25px, 25vh, 200px);
    top: -10px;
    left: 50%;
    transform: translate(-55%, -50%);
  }

  .bg {
    position: relative;
    width: clamp(25px, 50vw, 200px);
    height: clamp(25px, 25vh, 200px);
    top: -6vh;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

/*# sourceMappingURL=style.css.map */
